<div [@routerTransition]>

    <div class="caviar-contact-area align-items-center">
        <div class="justify-content-end">
            <div>
                <h1>Contactanos</h1>
                <hr>
                <form>
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Nombre Completo">
                        </div>
                        <div class="col-6">
                            <input type="email" class="form-control" placeholder="Correo Electrónico">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea name="message" class="form-control" id="Message" cols="30" rows="10" placeholder="Mensaje"></textarea>
                        </div>
                        <hr>
                        <div class="col-12">
                            <button type="submit"><span></span> Enviar Mensaje</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>