<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Acerca de Nosotros</h4>                    
                </div>
                <div class="timeline-body">
                    <p><i class="fa fa-check" aria-hidden="true"></i>Comida fina.</p>
                    <p>Inundado de luz natural por la mañana y elegantemente iluminado por las tardes, 
                        nuestro restaurante combina todos los elementos de una experiencia gastronómica 
                        memorable.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Un espacio especial para cada ocasión.</h4>
                </div>
                <div class="timeline-body">
                    <p>Un lugar con espacions para leer, soñar y contemplar el asombroso entorno,
                        a diferencia de cualquier cosa que hayas experimentado.</p>                    
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Platillos especiales</h4>
                </div>
                <div class="timeline-body">
                    <p>Es un festival de clásicos norteamericanos, europeos y ecuatorianos, desde tocino 
                        y panqueques hasta corviche y tigrillo, acompañado de jugos tropicales y sangrías 
                        ilimitadas. Asegúrese de reservar con anticipación, ya que los espacios se llenarse 
                        rápidamente.</p>
                </div>
            </div>
        </li>        
    </ul>
</div>
