<div>

  <h1>Reserva</h1>

  <hr>

  <div>

    <form>      
      <div>
        <div class="form-content">
          <div for="choose"> Cedula de Identidad </div>
            <input id="choose" [(ngModel)]="reserva.pers_ci" name="pers_ci" class="form-control" type="text" placeholder="Cedula de Identidad">
        </div>
      </div><br>

      <div>
        <div for="choose">Fecha de reservación</div>
        <div>
          <input id="choose" [(ngModel)]="reserva.fecha" name="fecha" class="form-control" type="date">
        </div>
      </div><br>

      <div>
        <div for="choose"> ¿Cuantas mesas desea reservar?</div>
        <div for="choose">          
          <select id="choose" [(ngModel)]="reserva.id_mesa" name="id_mesa" class="form-control">            
            <option value="1">1 Mesa</option>
            <option value="2">2 Mesas</option>
            <option value="3">3 Mesas</option>
            <option value="4">4 Mesas</option>
            <option value="5">5 Mesas</option>
          </select>          
        </div>
      </div><br>

      <div>
        <div for="choose"> Numero de personas </div>
        <div for="choose">
          <input id="choose" name="numeropersonas" [(ngModel)]="reserva.numeropersonas" type="number" min="1" max="20" class="form-control">
        </div>
      </div><br>

      <div>
        <div for="choose"> Hora </div>
        <div>
          <select id="choose" [(ngModel)]="reserva.id_horario" name="id_horario" class="form-control">
            <option value="1">10:00</option>
            <option value="2">13:00</option>
            <option value="3">18:00</option>
          </select>
        </div>
      </div><br>

      <hr>

      <button type="submit" class="form-control btn button primary" [routerLink]="['/dashboard']" (click)="post(reserva)">Registrarse</button>
      
    </form>
  </div>
</div>