<div>
  <h1>Reserva.</h1>

  <hr>
  <div>
    <form>
      <div class="form-content">
        <div> Nombre </div>
        <th> <input class="form-control" type="text" size="70" placeholder="Nombre quien reserva"> </th>
      </div>

      &nbsp;

      <th>
        <div>Fecha</div>
        <div>
          <input class="form-control" type="date" name="fecha">
        </div>
      </th>
      
      <th>
        <div style="margin-left: 20px"> Mesas </div>
        <div style="margin-left: 20px">
          <select class="form-control">
            <option value="1">Mesa para 2</option>
            <option value="2">Mesa para 4</option>
            <option value="3">Mesa Familiar</option>
          </select>
        </div>
      </th>

      <th>
        <div style="margin-left: 20px"> N° Personas </div>
        <div style="margin-left: 20px">
          <input type="number" min="1" class="form-control">
        </div>
      </th>

      &nbsp;
      &nbsp;

      <div>
        <button type="submit" class="btn rounded-btn"> Reservar </button>
      </div>
    </form>
  </div>
</div>
