<div [@routerTransition]>
    <h1>Formulario de reserva.</h1>
    <hr>
    <div>        
        <form role="form">
            <div class="form-content">

                <div class="form-group col-md-4">
                    <label >Tipo de Identificación</label>
                        <select class="form-control">
                            <option>Cédula de Identidad</option>
                            <option>Pasaporte</option>
                            <option>R.U.C.</option>
                      </select>
                </div>            

                <div class="form-group col-md-4">
                    <input type="text" class="form-control input-underline input-lg" id="" placeholder="Número de Identificación">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control input-underline input-lg" id="" placeholder="Apellidos y Nombres">
                </div>

                <div class="form-group col-md-4">
                    <input type="text" class="form-control input-underline input-lg" id="" placeholder="Fecha de Nacimiento">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control input-underline input-lg" id="" placeholder="Teléfono/Celular">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control input-underline input-lg" id="" placeholder="Correo Electrónico">
                </div>
            </div>
        </form>
    </div>
</div>
