<div [@routerTransition]>
    <h1>Formulario de reserva.</h1>
    <hr>
    <div>
        <form role="form">
            <div class="form-content">

                <div class="form-group col-md-3">
                    <label >Tipo de Identificación</label>
                        <select class="form-control">
                            <option>Cédula de Identidad</option>
                            <option>Pasaporte</option>
                            <option>R.U.C.</option>
                      </select>
                </div>

                <div class="form-group col-md-3">
                    <input type="text" class="form-control input-underline input-lg" id="" placeholder="Número de Identificación">
                </div>

                <div class="form-group col-md-3">
                    <input  class="form-control" type="date" name="fecha">
                </div>

                <div class="form-group col-md-6">
                    <input type="text" class="form-control input-underline input-lg" id="" placeholder="Apellidos y Nombres">
                </div>

                <div class="form-group col-md-6">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="Correo Electrónico">
                </div>

                <div class="form-group col-md-3">
                    <input type="text" class="form-control input-underline input-lg" id="" placeholder="Teléfono/Celular">
                </div>
                <a class="btn rounded-btn" [routerLink]="['/signup']"> Registrarse</a>
            </div>
        </form>
    </div>
</div>
