<nav class="navbar navbar-dark fixed-top" style="background-color: white">
  <button type="button" id="sidebarCollapse" class="navbar-btn">
    <div class="burger">
      <span class="hamburger bun"></span>
      <span class="hamburger cheese"></span>
      <span class="hamburger meat"></span>
      <span class="hamburger lettuce"></span>
      <span class="hamburger bun"></span>
    </div>
  </button>
  <a class="navbar-brand mx-auto" href="#">
      <img src="../../assets/images/Logo.png" alt="SONDER BAKERSFIELD">
      <span class="address">9500 Brimhall Road Suite 100</span>
  </a>
</nav>
