.navbar {
  background-color: rgb(252, 252, 252) !important;
  color: #303238 !important;
  border: none;
  border-radius: 0;
  max-width: 100vw;
  box-shadow: 5px 0px 5px gray;
  padding: 0 16px 0 16px;
  position: fixed;
  z-index: 999999;
}

.navbar-brand {
  font-family: 'Myriad Pro', sans-serif !important;
  font-stretch: condensed !important;
  letter-spacing: 5px !important;
  font-size: 27.5px;
  width: 100vw;
  color: #303238 !important;
  text-align: center;
  font-weight: normal !important;
}

.address {
  font-size: 8px;
  display: block;
  margin-top: 0px;
  letter-spacing: 0;
}

img {
  height: 50px;
}

.navbar.active {
  left: 250px;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none !important;
  background: none;
}

.navbar-btn.active>.burger>span,
.navbar-btn.active:hover>.burger>span {
    margin: 0 auto;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.burger {
  position: absolute;
  top: 0px;
  cursor: pointer;
  /* border: 1px solid black; */
  height: 100%;
  width: 60px;
  left: 20px;
  padding-top: 20px;
}

span.hamburger {
  border-radius: 2px;
  display: block;
  margin: 2px auto 2px auto;
  width: 30px;
  transition: all 0.1s cubic-bezier(0.945, 0.020, 0.270, 0.665);
}

span.hamburger.bun {
  background: #af9a71;
  height: 6px;
}
span.hamburger.cheese {
  background: #e2c70a;
  height: 2px;
  width: 35px;
}

span.hamburger.cheese::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #e2c70a;
    top: 4.5px;
    right: 13px;
    position: relative;
}

span.hamburger.meat {
  background: #5b2e10;
  margin: 0 auto 0 auto;
  height: 5px;
  width: 35px;
}

span.hamburger.lettuce {
  background: #58b734;
  height: 2px;
  width: 35px;
}