<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="../../assets/images/signin-image.jpg"></figure>
                <a [routerLink]="['/signup']" ><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp; &nbsp;Registrarse</a>
                <br><br>
                <a [routerLink]="['/dashboard']">Volver a inicio</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Ingresar</h2>
                <form method="get" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="your_name"><i class="fa fa-at" aria-hidden="true"></i></label>
                        <input type="email" placeholder="Correo Electronico"/>
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="fa fa-save" aria-hidden="true"></i></label>
                        <input type="password" placeholder="Contraseña"/>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" class="form-submit" value="Ingresar"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>