<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Acerca de Nosotros</h4>                    
                </div>
                <div class="timeline-body">
                    <p>Estilo del Restaurante.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Nuestros Chef's</h4>
                </div>
                <div class="timeline-body">
                    <p>Texto Aqui.</p>                    
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Platillos especiales</h4>
                </div>
                <div class="timeline-body">
                    <p>Texto aqui.</p>
                </div>
            </div>
        </li>        
    </ul>
</div>
