<div class="overall">
  <div class="banner">
    <img src="/assets/images/best.png" alt="Bakersfield Californian's Best of 2018">
  </div>
  <div id="wrapper">
    <app-navbar></app-navbar>
    <div id="sidebar">
      <div class="sidebar-header">
        MENU
      </div>
      <!-- Sidebar Links -->
      <ul class="list-unstyled components">
        <li>
          <div class="back-fill black">
            <a routerLink="home">HOME</a>
          </div>
        </li>
        <li>
          <div class="back-fill green">
            <a routerLink="menu">MENU</a>
          </div>
        </li>
        <li>
          <div class="back-fill red">
            <a routerLink="about">ABOUT</a>
          </div>
        </li>
        <li>
          <div class="back-fill blue">
            <a routerLink="contact">CONTACT</a>
          </div>
        </li>
      </ul>
      <ul class="list-unstyled CTAs">
        <li>
          <a target="_blank" href="https://maps.google.com/?q=9500 Brimhall Rd, Bakersfield, CA 93312" class="download">
            <i class="fa fa-map-marker"></i> GET DIRECTIONS</a>
        </li>
        <li>
          <a target="_blank" href="tel:(661) 247-0000" class="article">
            <i class="fa fa-phone"></i> GIVE US A CALL</a>
        </li>
      </ul>
      <div class="contact">
        <h3>FOLLOW US:</h3>
        <a target="_blank" href="https://www.facebook.com/SonderBakersfield/" class="social">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/sonderbakersfield/" class="social">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="hours-container">
        <span class="hours">HOURS:</span>
        <span class="hours">SUNDAY: 10:00AM - 10:00PM</span>
        <span class="hours">MONDAY-THURSDAY: 11:00AM - 11:00PM</span>
        <span class="hours">FRIDAY: 11:00AM - 12:00AM</span>
        <span class="hours">SATURDAY: 10:00AM - 12:00AM</span>
      </div>
      <div class="credits">
        Website developed by
        <a rel="nofollow" href="http://keonigarner.com">Keoni Garner</a>
        <br> &copy;
        <em>Copyright 2018 - All Rights Reserved</em>
      </div>
    </div>
    <div id="content">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
