<!-- ***** Inicio cabecera ***** -->
<header class="header_area" id="header">
  <div class="container h-100">
      <div class="row h-100">
          <div class="col-12 h-100">
              <nav class="h-100 navbar navbar-expand-lg align-items-center">
                  <a class="navbar-brand">RESTAURANTE</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#caviarNav" aria-controls="caviarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                  <div class="collapse navbar-collapse" id="caviarNav">
                      <ul class="navbar-nav ml-auto" id="caviarMenu">
                          <li class="nav-item active">
                              <a class="nav-link" href="#home">Inicio <span class="sr-only">(current)</span></a>
                          </li>                          
                          <li class="nav-item">
                              <a class="nav-link" href="#about">Acerca de</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#menu">Menu</a>
                          </li>                          
                          <li class="nav-item">
                              <a class="nav-link" href="#testimonial">Testimonios</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#reservation">Reservaciones</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="contact.html">Contactanos</a>
                          </li>
                      </ul>                      
                  </div>
              </nav>
          </div>
      </div>
  </div>
</header>
<!-- ***** Final cabecera ***** -->

<!-- ****** Inicio Área Bienvenida ****** -->
<section class="caviar-hero-area" id="home">

<!-- Diapositivas de bienvenida -->
<div class="caviar-hero-slides owl-carousel">

  <!-- Diapositivas individuales -->
  <div class="single-hero-slides bg-img" style="background-color: #000000;">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-11 col-md-6 col-lg-4">
          <div class="hero-content">
            <h2>Restaurante</h2>
            <p>Texto para poner</p>
            <a href="#" class="btn caviar-btn"><span></span> Reservaciones</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Nav deslizante -->
    <div class="hero-slides-nav bg-img" style="background-color: #ff0000;"></div>
  </div>

  <!-- Diapositivas individuales -->
  <div class="single-hero-slides bg-img" style="background-color: #d0ff00;">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-11 col-md-6 col-lg-4">
          <div class="hero-content">
            <h2>Restaurante</h2>
            <p>Texto para poner</p>
            <a href="#" class="btn caviar-btn"><span></span> Reservaciones</a>
          </div>
        </div>
      </div>
    </div>
  <!-- Nav deslizante -->
  <div class="hero-slides-nav bg-img" style="background-color: #2600ff;"></div>
  </div>
</div>
</section>
<!-- ****** Fin Área Bienvenida ****** -->

<!-- ****** Inicio Área - Acerca de ****** -->
<section class="caviar-about-us-area section-padding-150" id="about">
    <div class="container">
        <!-- Acerca de - Área Única -->
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="about-us-thumbnail wow fadeInUp" data-wow-delay="0.5s">
                    <img src="resources/bg-img/about-1.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 ml-md-auto">
                <div class="section-heading">
                    <h2>Acerca de</h2>
                </div>
                <div class="about-us-content">
                    <span>Estilo del Restaurante</span>
                    <p>Texto aqui</p>
                </div>
            </div>
        </div>
        <!-- Acerca de - Área Única -->
        <div class="about-us-second-part">
            <div class="row align-items-center pt-200">
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="about-us-content">
                        <span>Nuestros Cocineros</span>
                        <p>Texto aqui</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 ml-md-auto">
                    <div class="about-us-thumbnail wow fadeInUp" data-wow-delay="0.5s">
                        <img src="resources/bg-img/about-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ****** Fin Área Acerca de ****** -->