<!-- ***** Inicio cabecera ***** -->
<header class="header_area" id="header">
  <div class="container h-100">
      <div class="row h-100">
          <div class="col-12 h-100">
              <nav class="h-100 navbar navbar-expand-lg align-items-center">
                  <a class="navbar-brand">RESTAURANTE</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#caviarNav" aria-controls="caviarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                  <div class="collapse navbar-collapse" id="caviarNav">
                      <ul class="navbar-nav ml-auto" id="caviarMenu">
                          <li class="nav-item active">
                              <a class="nav-link" href="#home">Inicio <span class="sr-only">(current)</span></a>
                          </li>                          
                          <li class="nav-item">
                              <a class="nav-link" href="#about">Acerca de</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#menu">Menu</a>
                          </li>                          
                          <li class="nav-item">
                              <a class="nav-link" href="#reservation">Reservaciones</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="contact.html">Contactanos</a>                   <!-- REVISAR - hacer html solo para contacto -->
                          </li>
                      </ul>                      
                  </div>
              </nav>
          </div>
      </div>
  </div>
</header>
<!-- ***** Final cabecera ***** -->

<!-- ****** Inicio Área Bienvenida ****** -->
<section class="caviar-hero-area" id="home">

<!-- Diapositivas de bienvenida -->
<div class="caviar-hero-slides owl-carousel">

  <!-- Diapositivas individuales -->
  <div class="single-hero-slides bg-img" style="background-color: #09ff00;">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-11 col-md-6 col-lg-4">
          <div class="hero-content">
            <h2>Restaurante</h2>
            <p>Texto para poner</p>
            <a href="#" class="btn caviar-btn"><span></span> Reservaciones</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Nav deslizante -->
    <div class="hero-slides-nav bg-img" style="background-color: #ff0000;"></div>
  </div>
</div>
</section>
<!-- ****** Fin Área Bienvenida ****** -->

<!-- ****** Inicio Área - Acerca de ****** -->
<section class="caviar-about-us-area section-padding-150" id="about">
    <div class="container">
        <!-- Acerca de - Área Única -->
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="about-us-thumbnail wow fadeInUp" data-wow-delay="0.5s">
                    <img src="resources/bg-img/about-1.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 ml-md-auto">
                <div class="section-heading">
                    <h2>Acerca de</h2>
                </div>
                <div class="about-us-content">
                    <span>Estilo del Restaurante</span>
                    <p>Texto aqui</p>
                </div>
            </div>
        </div>
        <!-- Acerca de - Área Única -->
        <div class="about-us-second-part">
            <div class="row align-items-center pt-200">
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="about-us-content">
                        <span>Nuestros Cocineros</span>
                        <p>Texto aqui</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 ml-md-auto">
                        <img class="logo" src="resources/bg-img/about-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ****** Fin Área - Acerca de ****** -->

    <!-- ****** Area de Menu Inicio ****** -->
    <section class="caviar-dish-menu" id="menu">
        <div class="container">
            <div class="row">
                <div class="col-12 menu-heading">
                    <div class="section-heading text-center">
                        <h2>Platillos Principales</h2>
                    </div>
                    <!-- btn -->
                    <a href="menu.html" class="btn caviar-btn"><span></span> Mirar el Menu</a>          <!-- REVISAR - hacer html solo para los platillos -->
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                        <img src="resources/menu-img/dish-1.png" alt="">
                        <div class="dish-info">
                            <h6 class="dish-name">Encebollado</h6>
                            <p class="dish-price">$2,50</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                        <img src="resources/menu-img/dish-2.png" alt="">
                        <div class="dish-info">
                            <h6 class="dish-name">Pescado Frito</h6>
                            <p class="dish-price">$3</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                        <img src="resources/menu-img/dish-3.png" alt="">
                        <div class="dish-info">
                            <h6 class="dish-name">Almuerzos</h6>
                            <p class="dish-price">$2</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ****** Area de Menu Fin ****** -->

    <!-- ****** Area de testimonios Inicio ****** -->

    <!-- ****** NO NECESARIO POR EL MOMENTO ****** -->

    <!-- ****** Area de testimonios Fin ****** -->


    <!-- ****** Inicio area de RESERVA ****** -->
    <section class="caviar-reservation-area d-md-flex align-items-center" id="reservation">
        <div class="reservation-form-area d-flex justify-content-end">
            <div class="reservation-form">
                <div class="section-heading">
                    <h2>Reservaciones</h2>
                </div>
                <form action="#">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <input type="date" class="form-control">
                        </div>
                        <div class="col-12 col-lg-6">
                            <input type="time" class="form-control">
                        </div>
                        <div class="col-12 col-lg-6">
                            <input type="text" class="form-control" placeholder="Número de Personas">
                        </div>
                        <div class="col-12 col-lg-6">
                            <input type="text" class="form-control" placeholder="Apellidos y Nombres">
                        </div>
                        <div class="col-12">
                            <textarea name="redish-descriptionservation-message" class="form-control" id="reservationMessage" cols="30" rows="10" placeholder="Tú mensaje"></textarea>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn caviar-btn"><span></span> Reservar tu mesa</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="reservation-side-thumb wow fadeInRightBig" data-wow-delay="0.5s">
            <img src="resources/bg-img/hero-3.jpg" alt="">
        </div>
    </section>
    <!-- ****** Final area de RESERVA ****** -->

        <!-- ****** Area pie de pagina - Inicio ****** -->
        <footer class="caviar-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-text">
                            <a href="#" class="navbar-brand">Restaurante</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ****** Area pie de pagina - Fin ****** -->


    <!-- Jquery-3.3.1 -->
    <script src="js/jquery/jquery-3.3.1.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap-4.1.3 js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>